<?php
$filename = 'credit_'.time();
header("Content-type:application/vnd.ms-excel");
header("Content-Disposition:attachment;filename=$filename.xls");
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>商品导出Excel</title>
</head> 
<body>  
<table width="100%" cellspacing="0" border="1">
	<thead>
		<tr>
			<th align="left">姓名</th>
			<th align="left">证件编号</th>
			<th align="left">职称</th>	
			<th align="left">单位</th>
			<th align="left">学习形式</th>
			<th align="left">学习内容</th>
			<th align="left">学分类别</th>
			<th align="left">学分</th>
			<th align="left">审核单位</th>
			<th align="left">审核时间</th>
		</tr>
	</thead>
	<tbody>
    <?php if($list){ foreach($list as $key => $value){ ?> 
        <tr>
            <td align="left"><?=$value['user']['xm']?></td>
          	<td align="left"><?=$value['user']['sfz']?></td>
            <td align="left"><?=$value['user']['zc']?></td>
            <td align="left"><?=$value['user']['yy']?></td>
            <td align="left">网络学分</td>
            <td align="left"><?=$value['title']?></td>
            <td align="left"><?=$typeCopy[$value['type']]?></td>
            <td align="left"><?=$value['credit']?></td>
            <td align="left"><?=$value['hospital']?></td>
            <td align="left"><?=date('Y-m-d h:i',$value['apply_time'])?></td>
        </tr>
    <?php }}?>
	</tbody>
</table>
</body>  
</html>