<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>注册</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/register.css" />
</head>
<body class="register_html">
    <div class="register_backg">
       
    </div>
    <header>
        <div class="container">
            <div class="register_header">
                <div class="welcome col-lg-10 col-md-10 col-xs-10 col-sm-10">
                    <a href="/"><img src="/img/logo.png" alt="" /></a>
                    <span>欢迎注册</span>
                </div>
                <div class="have_account col-lg-2 col-md-2 col-xs-2 col-sm-2">
                    <p>已有账号？ <a href="/frame/index.php?m=user&c=index&a=login">登录</a></p>
                </div>
            </div>
        </div>
    </header>
    <div class="register_content">
        <div class="container">
            <div class="row">
                <form action="">
                    <div class="regist">
                        <input type="text" placeholder="用户名" name="username" />
                    </div>
                    <div class="regist">
                        <input type="password" placeholder="设置密码" name="password" />
                    </div>
                    <div class="regist">
                        <input type="password" placeholder="确认密码" name="password2" />
                    </div>
                    <div class="regist">
                        <input maxlength="11" type="text" placeholder="手机号" name="mobile" />
                    </div>
                    <div class="protocol">
                        <input type="checkbox" />
                        <a href="###">《沃众用户协议》</a>
                        <a href="###">《隐私政策》</a>
                    </div>
                    <div class="register_btn">
                        <button type="button" class="register_button">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ss">
        <p>©1997-2017 沃众U车 渝ICP备1111111号</p>
    </div>
    <script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/register_load.js"></script>
</body>
</html>