<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>重庆继续考试网考试平台</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
</head>
<body>
<?php require_once PATH.'/inc/top.inc.php';?>
<div class="middlen w1000">
    <div class="left left">
        <?php include($_SERVER['DOCUMENT_ROOT'].'/member_info.php'); ?>
        <div class="clear"></div>
        <?php include $_SERVER['DOCUMENT_ROOT'] . '/kefu.php'?>
    </div>

    <div class="member-right left" >
        <div class="location">
            <h2>我的学习记录</h2>
            <div class="clear"></div>
        </div>
        <div class="study-log" >
           
            <p>
                由于网络学分最多仅能授予２０学分，具体授予分值严格按照医院等级和本人职称划定，详细信息请参阅。
                （详细信息请参阅 <a href="/index.php?m=content&c=index&a=show&catid=20&id=17">链接地址</a>)
                <span onClick="javascript:window.location.href='/index.php?m=content&c=index&a=lists&catid=30&type=<?php echo $type;?>'">开始学习</span>
            </p>
           
        </div>
        <!--<div class="study-seach">
            <select><option value="null">全部学科</option></select>
            <input type="text" placeholder="请输入关键字查询" value="" class="key" >
            <input type="submit" value="" class="study-btn" >
            <div class="clear"></div>
        </div>-->
        <div class="study-tab" >
            <ul>
                <?php if($type == 2){ ?>
                <li class="on"><a href="/frame/index.php?m=user&c=course&a=lists&type=2">在学课程</a></li>
                <li><a href="/frame/index.php?m=user&c=credit&a=list_two&type=1">II类学分课程</a></li>
                <li><a href="/frame/index.php?m=user&c=credit&a=list_two&type=3">历史学分</a></li>
                <?php }else{ ?>
                <li class="on"><a href="/frame/index.php?m=user&c=course&a=lists&type=1">在学课程</a></li>
                <li><a href="/frame/index.php?m=user&c=credit&a=list_one&type=1">I类学分课程</a></li>
                <li><a href="/frame/index.php?m=user&c=credit&a=list_one&type=3">历史学分</a></li>
                <?php } ?>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="study-list" >
            <div class="study-list-th">
                <ul>
                    <li><span style="width:520px;">项目名称</span><img src="/images/member-7.jpg"></li>
                    <li><span style="width:90px;">操作</span></li>
                </ul>
            </div>

            <div class="study-content">
                <?php if($list){foreach ($list as $key => $vlaue) {?>
                <ul>
                    <li><span style="width:520px;">
                    <?php if($vlaue['kj']){ ?>
                    <a href="/index.php?m=content&c=index&a=show&catid=<?=$vlaue['kj']['catid']?>&id=<?=$vlaue['kj']['id']?>" style="float: left;padding-left: 25px;">
                    <?=$vlaue['title']?></span></a>
                    <?php }else{ ?>
                        <?=$vlaue['title']?>
                    <?php } ?> 
                    </li>
                    <li><span style="width:90px;"><a href="javascript:;" data-id="<?=$vlaue['id']?>" class="courseDeleteBtn">删除记录</a></span></li>
                </ul>
                <div class="clear"></div>
                <?php }}?>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<?php require_once PATH.'/inc/js.inc.php';?>
<?php require_once PATH.'/inc/footer.inc.php';?>

