<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>重庆继续考试网考试平台</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
</head>
<body>
<?php require_once PATH.'/inc/top.inc.php';?>
<div class="middlen w1000">
    <div class="left left">
        <?php include $_SERVER['DOCUMENT_ROOT'] . '/member_info.php'?>
        <div class="clear"></div>
        <?php include $_SERVER['DOCUMENT_ROOT'] . '/kefu.php'?>
    </div>

    <div class="member-right left" >
        <div class="location">
            <h2>我的学习记录</h2>
            <div class="clear"></div>
        </div>
        <div class="study-log" >
            <?php if (!$list) {?>
            <p>
                本学年你没有参加任何项目培训，暂时无相关学习记录！
                <span onClick="javascript:window.location.href='/index.php?m=content&c=index&a=lists&catid=10'">开始学习</span>
            </p>
            <?php }?>
        </div>
        <!--<div class="study-seach">
            <select><option value="null">全部学科</option></select>
            <input type="text" placeholder="请输入关键字查询" value="" class="key" >
            <input type="submit" value="" class="study-btn" >
            <div class="clear"></div>
        </div>-->
        <div class="study-tab" >
            <ul>
                <li><a href="/frame/index.php?m=user&c=course&a=lists&type=1">在学课程</a></li>
                <li <?=($type == 1 || !$type)? 'class="on"' : ''?>><a href="/frame/index.php?m=user&c=credit&a=list_one&type=1">I类学分课程</a></li>
                <li <?=$type == 3? 'class="on"' : ''?>><a href="/frame/index.php?m=user&c=credit&a=list_one&type=3">历史学分</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="study-list" >
            <div class="study-list-th">
                <ul>
                    <li><span style="width:280px;">项目名称</span><img src="/images/member-7.jpg"></li>
                    <li><span style="width:200px;">考试时间</span><img src="/images/member-7.jpg"></li>
                      <li><span style="width:60px;">可获学分</span><img src="/images/member-7.jpg"></li>
                    <li><span style="width:80px;">授予学分</span></li>
                </ul>
            </div>

            <div class="study-content">
                <?php if($list){foreach ($list as $key => $value) {?>
                <ul>
                    <li><span style="width:295px;overflow:hidden;height:40px;"><?=$value['title']?></span></li>
                    <li><span style="width:200px;"><a href="javascript:;"><?=date('Y-m-d',(string)$value['created'])?></a></span></li>
                    <li><span style="width:60px;"><a href="javascript:;"><?=$value['credit']?></a></span></li>
                    <li><span style="width:80px;"><label <?=$value['is_apply'] == '1' ? '' : 'style="background:red"'?>>
                            <?=$value['is_apply'] == '1' ? '授予' : '不授予'?></label></span></li>
                    </span></li>
                </ul>
                <div class="clear"></div>
                <?php }}?>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<?php require_once PATH.'/inc/js.inc.php';?>
<?php require_once PATH.'/inc/footer.inc.php';?>

