<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <title>{{$data['title']}}</title>
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/swiper.min.css" />
		<style>
			body,
			html {
				width: 100%;
				height: 100%;
				margin: 0;
				font-family: "微软雅黑";
			}
		</style>
        <script src="/js/jquery191.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script type="text/javascript">
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '{{$wx['appId']}}', // 必填，公众号的唯一标识
                timestamp: {{$wx['timestamp']}}, // 必填，生成签名的时间戳
                nonceStr: '{{$wx['nonceStr']}}', // 必填，生成签名的随机串
                signature: '{{$wx['signature']}}',// 必填，签名，见附录1
                jsApiList: ['openLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
        </script>
	</head>
	<body>
		<div class="swiper-container">
            <div class="swiper-wrapper">
                {{loop $data['album'] $value}}
                    <div class="swiper-slide" style="background-image: url({{$value['url']}})"></div>
                {{/loop}}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!--<div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>-->
            <p class="h_text">
            	{{$data['title']}}
            </p>
        </div>
        <div class="map">
        	<h2 class="jian" >
            {{if $data['address']}}
                {{if $data['catid'] == 20}}
                    <a href="javascript:;" style="text-decoration:none;color:#bebebe;" onclick="getNav({{$data['tengxun']['lat']}},{{$data['tengxun']['lng']}},'{{$data['address']}}')">
                        {{$data['address']}}
                    </a>
                {{else}}
                    {{$data['address']}}
                {{/if}}
            {{else}}
                <!-- 景点地址 -->
            {{/if}}
            </h2>
            {{if $data['mp3']}}
                <audio src="{{$data['mp3'][0]['fileurl']}}" controls="controls" id="audio" style="display: none;"></audio>
                <img src="/images/voice_start.png" class="btn-voice-play" style="float: right;margin-top: 4rem;">
                <img src="/images/voice_end.png" class="btn-voice-stop" style="float: right;margin-top: 4rem;display: none;">
            {{/if}}
        </div>
        <div class="content">
			<div class="desc show desc_s">
	    		 {{$data['content']}}
	    	</div>
        	
        </div>
        <footer class="footer1 clearfix">
        	<div class="foot_l fl">
        		去过(<label class="go">{{$data['go']}}</label>)
        	</div>
        	<div class="foot_r fr">
        		<a href="/frame/index.php?c=spot&a=add_comment&id={{$id}}">留言区</a>
        	</div>
        </footer>
<script src="/js/jquery191.js"></script>
<script src="/js/swiper.min.js"></script>
<script>
	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
 <script>
    $(function(){
        $('.tab >li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $('#c_box').find('.desc').eq($(this).index()).addClass('show').siblings().removeClass('show')
        })
        $('.foot_l').click(function(){
            var num=parseInt($('.foot_l span').html())
            $('.foot_l span').html(++num)
        })
        $('.foot_l').click(function(){
            $.post('/frame/index.php?c=spot&a=add_run_hot&id={{$id}}',function(reslut){
                var go = parseInt($('.go').text()) + 1 ;
                $('.go').text(go);
            });
        })
        //播放语音
        $('.btn-voice-play').click(function(){
            document.getElementById("audio").play();
            $(this).css('display','none');
            $('.btn-voice-stop').css('display','');            
        })
        
        //关闭语音
        $('.btn-voice-stop').click(function(){
            document.getElementById("audio").pause();
            $(this).css('display','none');
            $('.btn-voice-play').css('display','');            
        })
        
    })
    function getNav(lat, lon, address) {
        wx.openLocation({
            latitude: parseFloat(lat), // 纬度，浮点数，范围为90 ~ -90
            longitude: parseFloat(lon), // 经度，浮点数，范围为180 ~ -180。
            name: address, // 位置名
            address: address, // 地址详情说明
            scale: 10, // 地图缩放级别,整形值,范围从1~28。默认为最大
            infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
        });
        return false;
    }
</script>
	</body>
</html>
